.wrapperPhone {
    position: relative;
    width: 100%;
}

.errorMessage {
    color: red;
    position: absolute;
    top: 50px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: right;
    width: max-content;
}
